.portfolio-section{
    padding: 100px 20px;
    background: #ffff;
}

.portfolio-section h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}



.portfolio-filters{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;

    margin-bottom: 50px;
}

.filter-btn{
    background: transparent;
    border: 2px solid var(--color-primary);

    color: var(--color-primary);

    padding: 10px 24px;

    border-radius: 30px;

    cursor: pointer;
}



.portfolio-grid{
    display: grid;

    grid-template-columns: repeat(3,1fr);

    gap: 25px;
}

.portfolio-item{
    border-radius: 16px;
    overflow: hidden;
    border-radius: 16px;
}

.portfolio-item img{
    width: 100%;
    aspect-ratio: 4/3;

    object-fit: cover;
    
    display: block;

    transition: transform 0.4s ease;
}

.portfolio-item:hover img{
    transform: scale(1.1);
}



.portfolio-overlay{

    position: absolute;

    inset: 0;

    background: linear-gradient(
        to top,
        rgba(15,23,42,0.95) 0%,
        rgba(15,23,42,0.6) 50%,
        transparent 100%
    );

    display: flex;

    flex-direction: column;

    justify-content: flex-end;

    padding: 24px;

    opacity: 0;

    transition: opacity 0.3s ease;
}



.portfolio-item:hover .portfolio-overlay{
    opacity: 1;
}



.portfolio-overlay h3{
    color: white;
    margin-bottom: 8px;
}

.portfolio-overlay p{
    color: #cbd5e1;
}



/* TABLET */

@media(max-width: 992px){

    .portfolio-grid{
        grid-template-columns: repeat(2,1fr);
    }

}

/* MOBILE */

@media(max-width: 768px){

    .portfolio-grid{
        grid-template-columns: 1fr;
    }

}